//variabili per pagination
$pagination-active-bg:   rgb(29,116,101);
$pagination-active-border-color:rgb(23, 94, 82);
$pagination-color:   rgb(23, 94, 82);
$pagination-hover-color: rgb(29,116,101);
$pagination-disabled-bg:  rgba(29, 116, 102, 0.226);
$pagination-focus-box-shadow: 0 0 0 0.25rem  rgba(29, 116, 102, 0.226);

@import '~bootstrap/scss/bootstrap';

  .show{
    background-color:  rgb(29,116,101)!important;
    border:none!important;
  }

  .navbar-toggler {
    color: white!important;
    border: 0.5px solid rgb(255, 255, 255)!important;
    z-index: 999999;
}

  .navbar-toggler-icon {
      color: white!important;
  }



.dropdown-item:hover {
    background-color: rgb(23, 94, 82)!important;
} 

.fa-magnifying-glass:hover{
    color: rgb(16, 71, 62)!important;
}

  .button {
    cursor: pointer;
    font-weight: 500;
    left: 3px;
    line-height: inherit;
    position: relative;
    text-decoration: none;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
  }
  
  .button--small {
    padding: 10px 20px;
    font-size: 0.875rem;
  }
  
  .button--green {
    outline: none;
    background-color: #64d18a;
    border-color: #64d18a;
    color: white;
    transition: all 200ms ease;
  }
  
  .button--green:hover {
    background-color: #8bdda8;
    color: white;
  }

  .p-sponsor-card{
    margin: 0 auto;
    width: 100%;
    min-height: 500px;
    // border: 1px solid black;
    box-shadow: -4px 10px 25px 0px rgba(0,0,0,0.3);
    border-radius: 10px;
    transition: transform 0.3s ease;
  }

  .p-sponsor-card:hover {
    /* Effetto di sollevamento al passaggio del mouse (hover) */
    transform: translateY(-50px); /* Modifica l'effetto cambiando il valore del traslazione verticale */
    box-shadow: -4px 10px 25px 0px rgba(0, 0, 0, 0.356); /* Aggiungi un'ombra per dare l'effetto di sollevamento */
  }

  #sponsor-row{
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .p-s-badge{
    position: relative;
    bottom: -16px;
    left: -17px;
    padding: 10px;
  }

  nav{
    background-color:  rgb(29,116,101)!important;
    border:none!important;
  }

